




 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: url(https://media.istockphoto.com/id/1407257859/vector/poker-table-with-realistic-wooden-frame.jpg?s=612x612&w=0&k=20&c=n-31QpTsQ_vUhG8rP58cWu17QvixoIH2TUsPnKtJqi4=);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-x: center;
  
  
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#selector {
  display: flex;
  position: fixed; 
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.call-button,
.fold-button {
  margin-right: 10px; 
}



.button {
  color: white;
  background-color: #0f3251;
  border-radius: 6px;
  width: 130px;
  height: 40px;
  font-size: larger;
}

.winner-text {
  position: fixed; 
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60pt;

}

#cards {
  position: fixed; 
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-layout {
  display: grid;
  grid-template-columns: auto;
}

.modal-container-1{
  background-color: rgb(202, 202, 202);
  color: black;
  text-align: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 75vh;
  width: 60%;
  border-color: blue;
  font-size: 1.3em;
}

.modal-container-2{
  background-color: rgb(202, 202, 202);
  color: black;
  text-align: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 75vh;
  width: 60%;
  border-color: blue;
  font-size: 1.3em;
}


.table {
  width: 100%;
  font-size: larger;
}

table {
  width: 100%;
  border-collapse: collapse; 
}



.left-column {
  margin-right: 20px; 
}

.right-column {
  margin-left: 20px; 
}

.modal-container-1 h1{
  font-size: 3em;
  margin-top: auto;
  padding-top: 3%;
  color: blue;

}

.modal-container-2 h1{
  font-size: 3em;
  margin-top: auto;
  padding-top: 3%;
  color: blue;

}

#rules-text {
  padding-top: 5%;
  font-size: larger;
  position: relative; 
  top: -100px;
}



#header-text {
  text-align: center;
  
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(52, 52, 52);
  color: white;
  height: 80px;
}